;How to use: modify the machine parameters in this text and save, and then copy it to the TF card or U disk.
;Enter the "Settings" -> "System" -> "System Update", and select the TF card or U disk that with the configuration file.
;Select and implement the configuration file.

;Set System Parameters

M8000 L6 R136 V252 B0 T1
;    L: language(0: English 1: Simplified Chinese)
;    R: System UI red component
;    V: System UI green component
;    B: System UI blue component
;    T: Touch-tone(0: Disable 1: Enable)

;Set Printer Structure

M8100 S2
;    S: S0:XYZ; S1:delta; S2:corexy; S3:corexz;

;Set Travel Space

M8100 X240.000 Y180.000 Z250.000
;    X: X-Axis Travel Space
;    Y: Y-Axis Travel Space
;    Z: Z-Axis Travel Space

;Set Bed Size

M8141 X200.000 I0.000 Y200.000 J0.000
;    X: X-Axis Bed Size
;    I:X-Axis Bed Edge Size
;    Y: Y-Axis Bed Size
;    J:Y-Axis Bed Edge Size

;Set Home Offset

M8143 X-13.000 Y-2.000 Z0.000
;    X: X-Axis Home Offset
;    Y: Y-Axis Home Offset
;    Z: Z-Axis Home Offset

;Set Home Position(min:-1 max:1)

M8142 X-1 Y-1 Z-1
;    X: X-Axis Home Position
;    Y: Y-Axis Home Position
;    Z: Z-Axis Home Position

;Set Home Endstop Wiring Mode(0: Normal Open 1: Normal Close)

M8101 X0 Y0 Z0
;    X: X-Axis Home Endstop Wiring Mode
;    Y: Y-Axis Home Endstop Wiring Mode
;    Z: Z-Axis Home Endstop Wiring Mode

;Set Home Endstop Trigger Mode(0: Low 1: Hig)

M8102 X1 Y1 Z1
;    X: X-Axis Home Endstop Trigger Mode
;    Y: Y-Axis Home Endstop Trigger Mode
;    Z: Z-Axis Home Endstop Trigger Mode

;Set Hotend Offset

M8103 X0.000 Y0.000
;    X: X-Axis Hotend1 Offset
;    Y: Y-Axis Hotend1 Offset

;Set Printing Pause Parameters

M8104 X5.000 Y5.000 Z5.000 R4.000 F40.000
;    X: X-Axis Coordinates When Printing Paused
;    Y: Y-Axis Coordinates When Printing Paused
;    Z: Z-Axis Lift When Printing Paused
;    R: Retract Lenght When Printing Paused
;    F: Retract Speed When Printing Paused

;Set Change Filament Parameters

M8105 S0.000 F0.000 L0.000 E0.000 R0.000
;    S: Min Change Filament Temperature
;    F: Filament Load/unload Speed
;    L: Filament Load/unLoad Lenght
;    E: Extrusion Length after Loading Filament
;    R: Retract Lenght

;Set Leveling Parameters

M8106 S0 X0.000 Y0.000 Z0.000 O10.000 C160.000 R160.000 T1 W0 F0
;    S: Leveling Points
;    X: X-Axis Probe offset
;    Y: Y-Axis Probe offset
;    Z: Z-Axis Probe offset
;    O: Probe Open Angle
;    C: Probe Close Angle
;    R: Probe Reset Angle
;    T: Probe Trigger mode
;    W: Probe Wriring mode
;    F: Probe Function(0: Just use for Leveling Probe 1: Use for Leveling Probe and Z Min Homing)

;Set Firmware Retract Parameters

M8107 S10.000 F6000.000 Z2.000
;    S: Retract Length
;    F: Retract Speed
;    Z: Z-Axis Lift when Retract

;Set Firmware Recover Parameters

M8108 S10.000 F6000.000 Z2.000
;    S: Recover Length
;    F: Recover Speed
;    Z: Z-Axis down when Recover

;Set Linear Advance K

M8109 E0 K0.015
;    E: Extruder Index
;    K: Linear Advance Value

;Set Linear Advance K

M8109 E1 K0.000
;    E: Extruder Index
;    K: Linear Advance Value

;Set Ex Motor

M8110 N0 T1 W0
;    T: Ex Endstop Trigger Mode (0: LOW 1: HIG)
;    W: Ex Endstop Wiring Mode (0: Normal Open 1: Mormal Close)

;Set Max Acceleration

M8201 X9000.000 Y9000.000 Z500.000 E10000.000
;    X: X-Axis Max Acceleration
;    Y: Y-Axis Max Acceleration
;    Z: Z-Axis Max Acceleration
;    E: E-Axis Max Acceleration

;Set Acceleration

M8202 P3000.000 T3000.000 E4000.000
;    P: Print Acceleration
;    T: Travel Acceleration
;    E: Extruder Acceleration

;Set Limit Speed

M8203 X500.000 Y500.000 Z25.000 E120.000 P13.000 T3.000
;    X: X-Axis Max Speed
;    Y: Y-Axis Max Speed
;    Z: Z-Axis Max Speed
;    E: E-Axis Max Speed
;    P: Min Print Speed
;    T: Min Travel Speed

;Set jerk Speed

M8204 X5.000 Y5.000 Z0.200 E2.500
;    X: X-Axis jerk Speed
;    Y: Y-Axis jerk Speed
;    Z: Z-Axis jerk Speed
;    E: E-Axis jerk Speed

;Set homing Speed

M8205 X60.000 Y60.000 Z10.000
;    X: X-Axis homing Speed
;    Y: Y-Axis homing Speed
;    Z: Z-Axis homing Speed

;Set Positioning Speed

M8206 X10.000 Y10.000 Z5.000
;    X: X-Axis Positioning Speed
;    Y: Y-Axis Positioning Speed
;    Z: Z-Axis Positioning Speed

;Set Step Value

M8207 X160.325 Y160.325 Z1296.830 A5458.784 B392.000
;    X: X-Axis step Value
;    Y: Y-Axis step Value
;    Z: Z-Axis step Value
;    A: E0-Axis step Value
;    B: E1-Axis step Value

;Set Motor Diretion(0: CW 1:CCW)

M8208 X0 Y1 Z0 A1 B0
;    X: X-Motor Diretion
;    Y: Y-Motor Diretion
;    Z: Z-Motor Diretion
;    A: E0-Motor Diretion
;    B: E1-Motor Diretion

;Set Sensor Type(0: NTC100K 1: Pt100)

M8301 H0 S0
M8301 H1 S0
;    H: Hotend Index
;    S: Sensor Type

;Set Hothead Min Temperature

M8302 H0 S0.000
M8302 H1 S0.000
;    H: Hothead Index
;    S: Hothead Min Temperation

;Set Hotend Max Temperature

M8303 H0 S280.000
M8303 H1 S260.000
M8303 B110.000
;    H: Hothead Index
;    S: Hothead Max Temperation
;    B: Hotbed Max Temperation

;Set Hotend Temperature Protection Threshold

M8304 H0 S0.500
M8304 H1 S0.500
M8304 B0.000
;    H: Hothead Index
;    S: Hothead Temperature Protection Threshold
;    B: Hotbed Temperature Protection Threshold

;Set Hothend PID

M8305 H0 P196.603 I11.234 D860.137
M8305 H1 P378.067 I18.392 D1942.933
;    H: Hothead Index
;    P:Proportional coefficient
;    I: Integral coefficient
;    D: Differential term coefficient

;Set Hotbed PID

M8306 P806.586 I31.023 D5242.810
;    P:Proportional coefficient
;    I: Integral coefficient
;    D: Differential term coefficient

;Set Hotend Preheat

M8390 H0 P180.000 A260.000 C180.000 Q250.000
M8390 H1 P200.000 A280.000 C0.000 Q210.000
M8390 B P110.000 A110.000 C100.000 Q70.000
;    H/B: Hotend Index
;    P:PLA Preheat Value
;    A: ABS Prheat Value
;    C: Custom Preheat Value
;    Q: Hotkey Preheat value

Save Parameters

M500
